*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background-image: url('../imgs/ultima2.jpg');
    background-color: black;
}

header{
    position: fixed;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 980px;
    max-width: 90%;
    color: cornsilk;
}

.side1{
    font-size: 1.2rem;
}

.side2 ul{
    display: flex;
    flex-direction: row;
}

.side2 li{
    margin-left: 20px;
    font-size: 1.8rem;
}

.side2 i{
    color: cornsilk;
}

.side2 i:hover{
    color: rgb(211, 68, 240);
    transition: 1s;
}

.hero{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    max-width: 90%;
    max-height: 30%;
    font-weight: bolder;
    border-radius: .5rem ;
    color: rgb(255, 255, 255);
    background-image: url('../imgs/bodao.png');
    background-size: contain;
    background-position: center;
}


.hero h2{
    font-size: 3rem;
    font-weight: 900%;
    
}

.hero p{
    font-size: 1.6rem;
    font-weight: 900%;
}

main{
    width: 100%;
    height: 100%;
}
.cards{
    padding: 15px;
    margin: auto;
    display: grid;
    
    width: 980px;
    max-width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #7159c1;
    cursor: pointer;
    height: 300px;
    border-radius: .2rem;

}

.card:hover{
    transform: scale(1.1,1.1);
}
